<body>
<!-- <div class = entirePage>
  Hey I am adding the video here
</div> -->
<div id = "videoContainer">
  <h1>I am ready to start</h1>
<div data-vide-bg="MyVideo">
    <h1>I am ready to start</h1>
    <video id="v-control" autoplay="" loop="" tabindex="0">
      <source type="video/mp4" src="assets/video/captechvideo.mp4" alt=" MyVideo" />
      <!-- <source type="video/webm" src="assets/video.captechvideo.webm"  alt=" MyVideo" /> -->
    </video>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="src/jquery.vide.js"></script>
</body>

